<html>
    <body> 
        
        <center>
        
            <h1> Churn Data classifier</h1><br/>
        
            <form method = "POST">
                <b> Age: <input type = "text", name = "a"> <br/>
                <b> CUS_Month_Income: <input type = "text", name = "b"> <br/>
                <b> CUS_Gender: <input type = "text", name = "c"> <br/>
                <b> CUS_Marital_Status: <input type = "text", name = "d"> <br/>
                <b> Years_With_Us: <input type = "text", name = "e"> <br/>
                <b> Debit Trans for S1: <input type = "text", name = "f"> <br/>
                <b> Debit Trans for S2: <input type = "text", name = "g"> <br/>
                <b> Debit Trans for S3: <input type = "text", name = "h"> <br/>
                <b> Debit amount for S1: <input type = "text", name = "i"> <br/>
                <b> Debit amount for S2: <input type = "text", name = "j"> <br/>
                <b> Debit amount for S3: <input type = "text", name = "k"> <br/>
                <b> Credit Trans for S1: <input type = "text", name = "l"> <br/>
                <b> Credit Trans for S2: <input type = "text", name = "m"> <br/>
                <b> Credit Trans for S3: <input type = "text", name = "n"> <br/>
                <b> Credit amount for S1: <input type = "text", name = "o"> <br/>
                <b> Credit amount for S2: <input type = "text", name = "p"> <br/>
                <b> Credit amount for S3: <input type = "text", name = "q"> <br/>
                <b> Total debit amount: <input type = "text", name = "r"> <br/>
                <b> Total debit transactions: <input type = "text", name = "s"> <br/>
                <b> Total credit amount: <input type = "text", name = "t"> <br/>
                <b> Total credit transactions : <input type = "text", name = "u"> <br/>
                <b> Total transactions : <input type = "text", name = "v"> <br/>
                <b> Cus_Target: <input type = "text", name = "w"> <br/>
                <b> Description: <input type = "text", name = "x"> <br/><br/>
                <input type = "submit", value = "predict"> <br/>
            </form>
        </center>
            
    </body>
</html>





